<div class="container-home">
  <div class="content">
      <div class="text">
          <h1>Check Financial Health</h1>
          <hr>
          <p class="subtitle">Detailed consultations for simpler and safer decision making.</p>
          <p class="description">Find out if the customers has debts registered with check Score, protests, registration information according to the Federal Revenue Service, and much more. With the Experian Products solutions, you can easily identify good customers and get smart suggestions that reduce the risk of non-payment.</p>
          <button class="btn-more">Learn more</button>
          <h2>Check Score</h2>
          <p class="description">Check Score provides detailed consultations to help you make simpler and safer financial decisions. It allows you to find out if customers have debts registered, protests, and registration information according to the Federal Revenue Service. With Check Score, you can easily identify good customers and receive smart suggestions that reduce the risk of non-payment.</p>
          <button class="btn-more">Buy now</button>

          <h2>Check protests</h2>
          <p class="description">Check Protest is a powerful tool that helps you assess the financial health of your customers. It provides detailed information about any protests registered against them, allowing you to make informed decisions. With Check Protest, you can minimize the risk of dealing with customers who have a history of non-payment.</p>
          <button class="btn-more">Buy now</button>
      </div>
      <div class="image">
        <img [src]="imageUrl">
      </div>
  </div>
</div>
